body {
  font-family: Khula, cursive;
  margin: 0;
  text-align: center;
  font-size: 15px;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

ul {
  list-style: none;
  -moz-padding-start: 0;
  -webkit-padding-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  -webkit-appearance: none;
}

.container {
  margin: 2em 1em 2em;
}

$headerHeight: 230px;

#header {
  background-size: auto $headerHeight;
  height: $headerHeight;
}

.countdown {
  font-size: 11px;
}

.nav-menu {
  display: none;

  &.nav-menu-open {
    display: block;
    li {
      display: block !important;
      position: relative;

      a {
        margin: 0 0.25em !important;
        border-top: none;

        &.active {
          margin: 0 !important;
          color: #DB807D;
          border-right: 0.25em solid #DB807D;
        }
      }
    }
  }
}

@media (min-width: 360px) {

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.3em;
  }

  $headerHeight: 250px;

  #header {
    background-size: auto $headerHeight;
    height: $headerHeight;
  }

  .countdown {
    font-size: 13px;
  }

}

@media (min-width: 480px) {

  body {
    font-size: 16px;
  }

  .container {
    margin: 2em;
  }

  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 1.8em;
  }

  $headerHeight: 300px;

  #header {
    background-size: auto $headerHeight;
    height: $headerHeight;
  }

  .countdown {
    font-size: 14px;
  }

}

@media (min-width: 768px) {

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2em;
  }

  $headerHeight: 380px;

  #header {
    background-size: auto $headerHeight;
    height: $headerHeight;
  }

  .nav-burger {
    display: none !important;
  }

  .nav-menu {
    display: block;
    position: static;

    li {
      display: inline-block !important;
      position: relative;

      a {
        margin: 0 0.25em !important;

        &.active {
          color: #DB807D;
          border-right: none;
          border-top: 0.25em solid #DB807D;

        }
      }
    }
  }
}

@media (min-width: 900px) {

  //body {
  //  font-size: 16px;
  //}

  .container {
    max-width: 900px;
    width: 900px;
    margin: 2em auto;
  }

  $headerHeight: 442px;

  #header {
    background-size: auto $headerHeight;
    height: $headerHeight;
  }

  .countdown {
    font-size: 16px;
  }

}


