<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div style="font-family: AppleGothic, Arial; max-width: 788px; margin: auto;
    text-align:center; width: 100%">
  <div style="
    background-color: #2f2f2f;
    color: #f8f8f8;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px"
  >
    <h3>{{name}}</h3>
    <h2>It's time to RSVP!</h2>
  </div>
  <div style="padding: 2em; margin: auto">
    <p>Now's the time to RSVP; you can do this by <a href="http://www.danandches.com">
      logging in</a>, view your invitation and clicking the "RSVP" button.</p>
    <p>We ask that you respond no later than Friday 27th January.</p>
    <p>We hope to see you soon!</p>
    <p>All the love! Dan &amp; Ches</p>
  </div>
  <p
    style="font-size: 0.8em; text-align: left; background-color: #2f2f2f; color: #f8f8f8; padding:
      2em">If you haven't received your PIN, or for any issues or queries, please reply to
    this email</p>
</div>
</body>
</html>
