.content {
  text-align: center;
}

.dark {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 767px) {
  .content .row {
    padding: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .content > .row {
    padding: 50px;
  }
}