.dropdown-menu > .disabled > a {
  color: #ccc;
  background-color: transparent;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

.navbar-default {
  background: none;
  border: none;
  box-shadow: none;
}
