<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div style="font-family: AppleGothic, Arial; max-width: 788px; margin: auto;
    text-align:center; width: 100%">
  <div style="
    background-color: #2f2f2f;
    color: #f8f8f8;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px"
  >
    <h3>{{name}}</h3>
    <h2>You&apos;re invited!</h2>
  </div>
  <div style="padding: 2em; margin: auto">
    <p>Daniel &amp; Francesca would like to invite you to their wedding!</p>
    <p>To see your invitation and further details of the day, please visit
      <a href="http://www.danandches.com">danandches.com</a> and use the details below to login:</p>
    <table style="margin: auto">
      <tr>
        <td style="min-width: 5em; text-align: left">Email:</td>
        <td style="text-align: left">{{email}}</td>
      </tr>
      <tr>
        <td style="min-width: 5em; text-align: left">PIN:</td>
        <td style="text-align: left">{{pin}}</td>
      </tr>
    </table>
  </div>
  <p
    style="font-size: 0.8em; text-align: left; background-color: #2f2f2f; color: #f8f8f8; padding:
      2em">For any issues or queries, please reply to this email</p>
</div>
</body>
</html>
